
<div class="container">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  
    <div *ngIf="!loading" class="table-container">
      <div style="width:100%" fxLayoutAlign="end end" style="padding-right:20px">
        <p style="font-weight:bold;margin-top:5px;margin-bottom:5px">TOTAL : {{notifsCount}}</p> 
      </div>   
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table">
        <ng-container matColumnDef="text">
              <th mat-header-cell *matHeaderCellDef>Notification</th>
              <td mat-cell *matCellDef="let row" class="clickable" [ngClass]="{'unread' : row.isRead == false}" (click)="markRead(row)">{{row.text}}</td>
        </ng-container> 
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let row">{{row.created_at | niceDateFormat}}</td>
      </ng-container> 
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let row" class="clickable"><mat-icon pTooltip="Effaçer la notification" tooltipPosition="left" (click)="delete(row)">delete</mat-icon></td>
      </ng-container>       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row">        
        </tr>
      </table>
    </div>
  </div>