<div *ngIf="!loading" class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar  class="toolbar" [class.mat-elevation-z8]="true">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <div fxFlex="1 1 auto" fxLayoutAlign="end center">
            <div *ngIf="user.isAvailable()" fxLayout="row" fxLayoutGap="20px">
            <button  mat-mini-fab color="white" class="scaled">
                    <div *ngIf="user.notifications>0">
                      <mat-icon [matBadge]="user.notifications" matBadgeColor="accent" aria-label="Notifications" routerLink='/notifications' >notifications</mat-icon>
                    </div>
                    <div *ngIf="user.notifications==0">
                        <mat-icon  aria-label="Notifications"  routerLink='/notifications'>notifications_none</mat-icon>
                    </div>
            </button>   
            <button  mat-mini-fab color="white" class="scaled">
                    <div *ngIf="user.messages>0">
                      <mat-icon [matBadge]="user.messages" matBadgeColor="accent" aria-label="Messages" routerLink='/notifications' >mail</mat-icon>
                    </div>
                    <div *ngIf="user.messages==0">
                        <mat-icon  aria-label="Messages"  routerLink='/messages'>mail_outline</mat-icon>
                    </div>
            </button>   
            <div  fxLayout="column" fxLayoutAlign="center center">
                <button mat-mini-fab color="white" [style.backgroundImage]="user.getAvatar(null)" style="background-size:cover;" routerLink='/profile' class="scaled"></button>           
                <small style="font-size:10px;line-height:10px">{{user.account}}</small>
            </div>
            </div>  
            <div *ngIf="!user.isAvailable()" fxLayout="column" fxLayoutAlign="center center">
                  <button  mat-mini-fab color="warn" routerLink='/login' class="scaled">
                    <mat-icon matBadge="x" matBadgeColor="accent" aria-label="Déconnecté">person</mat-icon>
                  </button> 
                  <small style="font-size:10px;line-height:10px">Deconnecte</small>
            </div>                                
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
                <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">Login</button></div>
                <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">Signup</button></div>            
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
            <!--<p *ngFor="let content of fillerContent">{{content}}</p>-->
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  

  


<!--<div fxLayout="column" style="min-height:100vh">
<mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon color="primary" aria-label="menu">menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container fxFlex="1" class="main-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
            <div *ngIf="!user.isAvailable()"> 
                <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-raised-button color="primary" routerLink="/login" (click)="snav.toggle()">Login</button></div>
                <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary" routerLink="/signup" (click)="snav.toggle()">Signup</button></div>
            </div>  
            <div *ngIf="user.isAvailable()"> 
                <div style="width:100%;padding:5px" fxLayoutAlign="center center"><button mat-stroked-button color="primary"  (click)="snav.toggle();logout()">Logout</button></div>
             </div>            
        <mat-divider></mat-divider>
        <a (click)="snav.toggle()" mat-list-item routerLink=""><span>Accueil</span></a>       
        <a (click)="snav.toggle()" mat-list-item routerLink="about"><span>A propos</span></a>
        <a (click)="snav.toggle()" mat-list-item routerLink="members"><span>Membres</span></a>
        <a (click)="snav.toggle()" mat-list-item routerLink="materiel"><span>Location Matériel</span></a>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Admin</mat-panel-title>
              </mat-expansion-panel-header>   
              <a (click)="snav.toggle()" mat-list-item routerLink="admin-members"><span>Admin members</span></a>
              <a (click)="snav.toggle()" mat-list-item routerLink="admin-roles"><span>Admin roles</span></a>
              <a (click)="snav.toggle()" mat-list-item routerLink="admin-groups"><span>Admin groups</span></a>    
              <a (click)="snav.toggle()" mat-list-item routerLink="admin-products"><span>Admin Materiel</span></a>  
           </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content  style="min-height:90vh">
        <router-outlet style="overflow-y:auto"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

</div>
-->

