<div [ngClass]="setClasses()">
    <div fxLayout="row" style="width:100%" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding:20px">
        <div style="min-width:40px;max-width:40px" fxLayoutAlign="center center">
          <mat-icon *ngIf='data.code==500'>warning</mat-icon>
          <mat-icon *ngIf='data.code==400'>warning</mat-icon>
          <mat-icon *ngIf='data.code==401'>vpn_key</mat-icon>
          <mat-icon *ngIf='data.code==403'>pan-tool</mat-icon>
          <mat-icon *ngIf='data.code==404'>cloud_off</mat-icon>
          <mat-icon *ngIf='data.code==200'>check_circle</mat-icon>
          <mat-icon *ngIf='data.code==201'>check_circle</mat-icon>
          <mat-icon *ngIf='data.code==204'>check_circle</mat-icon>
        </div>
        <div fxLayoutAlign="start center">
            <small>{{data.message}}</small>
        </div>
    </div>
    </div>
