
  <h2 style="margin-top:0px;margin-bottom:0px">Conditions générales</h2>
  <h3 style="margin-top:0px;opacity:0.6">Conditions générales d'utilization des données</h3>
  <mat-divider></mat-divider>
  <p>Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique et le telephone pourront être utilisées par le site pour l'administration, la gestion et l'animation du service.</p>
  <p>Certaines informations comme email et telephone seront accessibles par les autres membres inscrits au club.</p>
  <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
  <p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :</p>
  <ul>
  <li>son espace personnel</li>
  <li>un formulaire de contact</li>
  <li>par mail à : {{email}}</li>
  <li>par voie postale au : <div style="padding-left:20px"><div><small>{{address1}}</small></div> <div><small>{{address2}}</small></div> <div><small>{{address3}}</small></div></div></li>
 </ul>
  <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary" [mat-dialog-close]="true">D'accord</button>
  </mat-dialog-actions>  